
<router-outlet></router-outlet>
<p>This is interpolation: {{ title }}</p>
<br /><br />
<input type="text" [attr.value]="inputValueText" />

<br /><br />
<button [ngClass]="num == 5? 'black-btn': 'blue-btn'" class="blue-btn" [disabled]="num == 5">Test Me</button>

<br /><br />
<button [ngClass]="num == 4? 'black-btn': 'blue-btn'" class="blue-btn" [attr.disabled]="num == 5 ? true : null">
  Test Me
</button>

<br /><br />
<button [class.red-class]="red" [class.green-class]="green" (click)="changeColor()">change class</button>

<br /><br />
<button #btn (click)="onClickBtn($event)">check template reference</button>

<br /><br />
<input #input2 (input)="inputValueText2 = input2.value"/>


<h2>{{inputValueText2}}</h2>


<input type="text" [(ngModel)]="inputValueText3" />


<h2>{{inputValueText3}}</h2>

<p>Helo</p>
<input type="text" (change)="checkInput4($event)" />







